form {
    width: 85%;
    margin: 5%;

    text-align: start;
}
.date-time {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.event-name {
    width: 100%
}

.form-group{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.form-control {
    width: 100%
}
