form {
    width: 85%;
    margin: 5%;
    /* justify-content: center; */
}

.event-card {
    background: #efefef;
    display: flex;
    flex-direction: row;
    width: 85vw;
    min-width: 250px;
    height: 100px;
    align-items: center;
    /* border: 1px solid #000; */
    border-radius: 12px;
    margin: 10px auto;
}

.event-info {
    width: 64%;
    height: 70px;
    font-size: max(min(3vw, 14px), 10px);
    text-align: left;
}

.event-name {
    font-weight: bold;
    font-size: max(min(4vw, 18px), 12px);
}

.event-icon{
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
    justify-content: start;
    height: 70%
}