.empty-event-text {
    font-size: 20px;
    color: #656565;
}
.search-bar-events > form {
    margin-top: 4vh;
    width: 90%;
}

.search-bar-events {
    /* display: flex; */
    width: 90%;
    min-width: 220px;
    max-width: 1000px;
    /* align-items: flex-start; */
    margin: auto;
}