.header-top-row {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0d6efd;
}
.header-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}
.app-name {
  margin: 0;
  color: white;
}

.logo-image {
  width: 50px;
  border-radius: 1px solid black;
}

.back-button {
  color: white;
  transform: scale(1.5);
}

.back-button:hover {
  color: #0d6efd;
}


