.search-bar-hobbies {
    /* display: flex; */
    width: 90%;
    min-width: 220px;
    max-width: 1000px;
    /* align-items: flex-start; */
    margin: auto;
}
.search-bar-hobbies > * {
    margin-top: 4vh;
    width: 90%;
}