.message {
    text-align: left;
    padding: 10px;
    margin: auto;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-user {
    font-size: 16px;
    font-weight: bold;
    margin-right: 12px; 
}

.message-timestamp {
    font-size: 12px;
}

.message-avatar{
    height: 50px;
    width: 50px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}