.header-top-row {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  }
  .header-group{
    display: inline-flex;
  }
  .app-name {
    margin-right: 15px;
  }
  
  .logo-image {
    width: 50px;
    border-radius: 1px solid black;
  }
  